[submodule "parts/speech-2024-1"]
	path = parts/speech-2024-1
	url = git@github.com:cuicui-ysxq/speech-2024-1.git
[submodule "parts/speech-2024-2"]
	path = parts/speech-2024-2
	url = git@github.com:cuicui-ysxq/speech-2024-2.git
[submodule "parts/speech-2024-3"]
	path = parts/speech-2024-3
	url = git@github.com:cuicui-ysxq/speech-2024-3.git
